/*newsの詳細ページ*/

.newsDetail {
  width: 70%;
  position: relative;
  @include responsive(sm) {
    width: 100%;
    margin-bottom: 10%;
  }
  &__title {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    color: #a48c61;
    @include font40();
    @include responsive(sm) {
      @include font30();
    }
    &--sub {
      width: 100%;
      text-align: center;
      @include margin-bottom();
      @include font16();
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 8%;
    @include responsive(sm) {
      display: block;
    }
  }

  &__item {
    width: 100%;
    position: relative;
    display: block;
    &--image {
      height: 60vh;
      width: 100%;
      margin-bottom: 4%;
      @include responsive(xl) {
        height: 40vh;
        @include responsive(sm) {
          height: 35vh;
        }
      }
    }
    &--header {
      color: #a48c61;
      @include font36();
      @include responsive(md) {
        @include font30();
        @include responsive(sm) {
          @include font24();
        }
      }
    }

    &--recommend {
      margin: 2% 0;
      @include font20();
      &--span {
        color: #d12e2e;
        background-color: #fff;
        border: 1px solid;
        border-radius: 10px;
        padding: 0.5%;
        @include responsive(md) {
          padding: 1%;
        }
      }
    }

    &--category {
      margin: 2% 0;
      @include font20();
      &--span {
        color: #d12e2e;
      }
    }

    &--time {
      color: #000;
      @include font20();
      padding-bottom: 1%;
      margin-bottom: 4%;
    }
  }
}
