.search {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  padding: 5%;
  @include margin-top();
  @include margin-bottom();
  @include responsive(xxxxl) {
    padding: 8%;
    // height: 550px;
    // @include responsive(xl) {
    //   padding: 8%;
    //   height: 500px;
    //   @include responsive(lg) {
    //     height: 450px;
    //     @include responsive(md) {
    //       height: 470px;
    //       @include responsive(sm) {
    //         height: 500px;
    //         @include responsive(xs) {
    //           height: 470px;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  &__form {
    display: grid;
  }

  &__box {
    padding: 4% 0;
    @include responsive(xl) {
      padding: 6% 0;
    }
    &--title {
      font-size: 24px;
      color: #a48c61;
      @include responsive(xxl) {
        font-size: 20px;
      }
    }
    &--label {
      font-size: 20px;
      margin: 0 2%;
      @include responsive(xxl) {
        font-size: 14px;
      }
    }
  }

  &__input {
    width: 60%;
    height: 34px;
    padding: 1px 5px 1px 8px;
    border: 1px solid #000;
    font-size: 16px;
    color: #000;
    margin-top: 2%;
    @include responsive(xxl) {
      width: 80%;
      @include responsive(lg) {
        width: 100%;
      }
    }
  }

  &__checkBox {
    &--list {
      margin: 2% auto;
      display: flex;
    }
  }

  &__button {
    text-align: center;
    &--layout {
      cursor: pointer;
      text-align: center;
      width: 30%;
      height: 45px;
      border: none;
      background-color: #a48c61;
      color: #fff;
      font-size: 16px;
      @include responsive(xxl) {
        width: 60%;
        height: 55px;
        @include responsive(lg) {
          height: 45px;
        }
      }
    }
  }
}
