/*footer*/


.footer {
  padding: 3% 0;
  background: #595757;
  color: #fff;
  @include margin-top();
  &__container {
    display: flex;
    justify-content: space-between;
    @include container();
    @include responsive(lg) {
      display: block;
    }
  }
  &__left {
    width: 62%;
    @include responsive(lg) {
      width: 100%;
    }
  }
  &__nav {
    &--list {
      display: flex;
      justify-content: space-between;
      @include responsive(lg) {
        margin-bottom: 3%;
        @include responsive(md) {
          justify-content: space-evenly;
          flex-wrap: wrap;
        }
      }
    }
    &--item {
      @include responsive(lg) {
        margin: 2% 0;
        @include responsive(sm) {
          margin: 2%;
        }
      }
    }
  }
  &__info {
    @include font14();
    margin: 1.5% 0;
    @include responsive(lg) {
      text-align: center;
      @include responsive(md) {
        @include font12();
      }
    }
  }
  &__copyright {
    @include font10();
    @include responsive(lg) {
      text-align: center;
    }
  }
  &__right {
    width: 25%;
    text-align: end;
  }
  &__tell {
    @include font20();
    @include responsive(lg) {
      display: none;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////
