@import "../mixin/image";

.main {
  @include margin-bottom();
  @include responsive(md) {
    margin-bottom: 10%;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include responsive(lg) {
      width: 26%;
    }
  }
}

// about

.about {
  text-align: center;
  margin: 0 8% 10% 8%;
  &__header {
    margin-bottom: 1%;
    @include main-color();
    @include font40();
    @include responsive(md) {
      @include font36();
      @include responsive(sm) {
        @include font30();
      }
    }
    &--sub {
    }
  }
  &__title {
    margin-bottom: 2%;
    @include font22();
    @include responsive(md) {
      margin-bottom: 4%;
      @include font16();
      @include responsive(sm) {
        @include font14();
      }
    }
  }
  &__text {
    margin-bottom: 0.5%;
    @include font14();
    @include responsive(md) {
      @include font10();
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////

// catch
.catch {
  @include margin-bottom();
  &__title {
    text-align: center;
    @include margin-bottom();
  }
  &__container {
    @include container();
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    width: 24%;
    padding-bottom: 18%;
    border: 2px solid #a48c61;
    @include image();
    background-image: url(https://images.unsplash.com/photo-1467189386127-c4e5e31ee213?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    &--2 {
      // background-image: url(https://cdn.pixabay.com/photo/2017/05/16/21/54/coffee-2319129_960_720.jpg);
    }
    &--3 {
      // background-image: url(https://cdn.pixabay.com/photo/2019/11/16/16/38/birthday-4630579_960_720.jpg);
    }
    &__2 {
      background-color: #fff;
      padding: 2%;
    }
    &--heading {
      @include font12();
    }
    &--title {
      @include font18();
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////

// service

.service {
  text-align: center;
  margin-bottom: 10%;
  @include container();
  &__header {
    @include main-color();
    @include font40();
    @include responsive(md) {
      @include font36();
      @include responsive(sm) {
        @include font30();
      }
    }
    &--sub {
      margin-bottom: 3%;
      @include font14();
      @include responsive(sm) {
        margin-bottom: 10%;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-bottom: 10%;
    @include responsive(sm) {
      margin-bottom: 15%;
    }
    &::before {
      content: ".";
      background: rgb(248, 248, 248);
      position: absolute;
      color: #f8f8f8;
      top: 12%;
      right: 0;
      width: 70%;
      height: 100%;
      z-index: -10;
    }
    // 反対バージョン
    &--2 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      margin-bottom: 10%;
      @include responsive(sm) {
        margin-bottom: 15%;
      }
      &::before {
        content: ".";
        background: rgb(248, 248, 248);
        position: absolute;
        color: #f8f8f8;
        top: 12%;
        left: 0;
        width: 70%;
        height: 100%;
        z-index: -10;
      }
    }
  }
  &__image {
    width: 55%;
    @include responsive(sm) {
      transform: translateY(-6%);
    }
  }
  &__list {
    width: 45%;
    @include responsive(lg) {
      padding-top: 7%;
    }
  }
  &__title {
    width: 36%;
    margin: 0 auto;
    border-bottom: 1px solid;
    margin-bottom: 3%;
    @include main-color();
    @include font24();
    @include responsive(sm) {
      width: 60%;
      @include font14();
    }
  }
  &__text {
    margin-bottom: 0.7%;
    @include font16();
    @include responsive(sm) {
      @include font9();
    }
  }
  &__button {
    width: 33%;
    margin-top: 3%;
    @include font20();
    @include responsive(lg) {
      width: 45%;
      @include responsive(md) {
        width: 45%;
        padding: 5px 15px;
        @include font9();
        @include responsive(sm) {
          width: 60%;
          padding: 3px 10px;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////

// info

.info {
  &__container {
    display: flex;
    justify-content: space-evenly;
    @include container();
    @include responsive(sm) {
      display: block;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////

/*news*/

.news {
  width: 55%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10%;
  @include responsive(lg) {
    width: 75%;
  }
  &__title {
    width: 35%;
    text-align: center;
    margin-top: 12%;
    color: #a48c61;
    @include font40();
    margin: 0;
    @include responsive(sm) {
      @include font30();
    }
    &--sub {
      text-align: center;
      width: 35%;
      @include font14();
    }
  }
  &__item {
    margin-top: 10%;
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    position: relative;
    display: block;
    &--day {
      color: #000;
      @include font14();
    }
    &--title {
      color: #a48c61;
      @include font20();
      @include responsive(lg) {
        @include font16();
        @include responsive(sm) {
          @include font12();
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      display: block;
      background-color: #a48c61;
      width: 0;
      height: 1px;
      bottom: -2px;
      left: 0;
      -webkit-transition: 0.4s ease 0s;
      transition: 0.4s ease 0s;
    }
    &:hover {
      text-decoration: none;
      &:before {
        width: 100%;
      }
    }
  }
  &__list {
    @include margin-bottom();
  }
  &__button {
    text-align: -webkit-center;
    margin-top: 8%;
    &--layout {
      display: block;
      width: 30%;
      @include font26();
      @include responsive(xxxl) {
        width: 40%;
        @include responsive(xxl) {
          width: 70%;
          @include responsive(lg) {
            width: 80%;
            @include font20();
            @include responsive(sm) {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////

/*sns*/

.sns {
  width: 40%;
}

///////////////////////////////////////////////////////////////////////////////////////
